<h1>{{title}}</h1>
{#if conocido}
    <p>No te conozco</p>
    <form action="/ingresar" method="post">
        <input type="text" name="nombre"> <button>ingresar</button>
    </form>
    {{/unless}}
<p>Welcome to {{title}}</p>
